[submodule "assets/js/plugins/backbone.marionette.animationregion"]
	path = assets/js/plugins/backbone.marionette.animationregion
	url = https://github.com/Freddy03h/backbone.marionette.animationregion.git
