/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";

@import "new-flexbox";

$default-border-radius: 6px;

$height-bottombar: 50px;
$height-topbar: 44px;

@import "heart";
@import "animation-region";

$bleu:#2B2B67;
$bleuClair:lavender;

$orangeFonce:#FF4F00;
$orangeClair:#FFBF00;


html{
	font-family: 'Helvetica Neue' ,Helvetica , sans-serif;
	background-color:black;
	-webkit-text-size-adjust:none;
}
a{text-decoration: none;color:$bleu;}
p{margin:10px;}
//#main > div *{-webkit-margin-collapse: separate;}
#menu-header, #header, .sub-header{
	@include display-flex;
	@include align-items(center);
	@include flex-direction(row);
	p{
		color:$bleu;
		margin:0 10px;
		font-weight: bold;
		font-size: 32px;
	}
	.title{
		@include flex(1);
		text-align: center;
	}
}

#sub-menu{
	z-index:10;
	background-color: rgba(0,0,0,0);
	@include transition(background-color 100ms ease-in-out 200ms);
	display:none;
	//opacity:0;
	//visibility: hidden;
	ul{
		background-color: $bleu;
		color:$bleu;
		@include transition(transform 300ms ease-in-out);
		@include transform(translateY(-100%));
	}
	li{
		background-color: $bleuClair;
	}
	a.selected li{
		background-color: $orangeClair;
	}

	.open-submenu &{
		background-color: rgba(0,0,0,0.5);
		@include transition-delay(0ms);
		ul{
			@include transform(translateY(0));
		}
	}
	&.displayed{
		display:block;
	}
}
.no-cssanimations, .no-csstransforms3d, .no-positionfixed{
	#sub-menu{
		@include transition(none);
		ul{
			@include transition(none);
			@include transform(none);
		}
		display:none;
	}
	.open-submenu #sub-menu{
		display:block;
	}
	
}

.overflowscrolling.appleios.safari body{
	bottom: -60px;
}
.pull-to-refresh {
	color:white;
    background-color: grey;
}

$largeurMenu :320px - $height-topbar;
.split-view{
	>.aside-view{
		width: $largeurMenu;
		z-index:1;
	}
	>.content-view{
		left: $largeurMenu;
		//width: -webkit-calc(100% - #{$largeurMenu});
		//width: calc(100% - #{$largeurMenu});
		z-index:2;
	}
}

#content .top-bar{
	z-index:3;
}

#sub-menu{
	z-index:2;
}

#main{
	z-index:1;
}

#header{
	//z-index: 50;
	background-color: #FFF;
	@include single-box-shadow(rgba(0,0,0,0.3), 0, 0, 3px, false, false);
}

#menu-header{
	z-index: 2;
	background-color: $bleuClair;
	@include single-box-shadow(rgba(0,0,0,0.3), 0, 0, 3px, false, false);
}
.sub-header{
	height: 32px;
	p{
		color:$bleuClair;
		margin:0 10px;
		font-weight: bold;
		font-size: 22px;
		text-shadow: 1px 1px 3px #333;
	}
	.reload-button .icon {
		font-size: 26px;
	}
}

#menu-main{
	background-color: white;
}

#content{
	background-color:#F4F4F4;
	@include single-box-shadow(rgba(0,0,0,0.3), 0, 0, 10px, false, false);
}

#tab-bar{
	//z-index: 40;
	background-color: #FFF;
	@include single-box-shadow(rgba(0,0,0,0.3), 0, 0, 3px, false, false);

	@include display-flex;
	@include justify-content(center);
	>*{
		@include flex(1);

		@include display-flex;
		@include flex-direction(column);
		@include align-items(center);
		&.selected{
			background-color: $bleu;
			color:white;
		}
		>*{
			display: block;
			//@include flex(1);
			&.icon{
				font-size: 32px;
				padding: 2px 0;
				height: 32px;
				box-sizing: border-box;
			}
			&.title{
				font-size: 14px;
				padding: 2px 0;
				height: 18px;
				box-sizing: border-box;
			}
		}
	}
}

.curtain:before{
	opacity:1;
	background-color: rgba(0,0,0,0.5);
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	content: "";
	z-index:10;
}

/////////////

//#home{
	ul{
		overflow: auto;
	}
	li{
		margin:10px;
		padding: 10px;
		@include border-radius;
		font-size:16px;
		background-color:$bleuClair;	
	}
//}

#menu-main li{
	border:solid $bleuClair 1px;
	background-color:white;
	color: $bleu;
	.lang{
		float:right;
	}
}
#menu-main a.selected li{
	//border:solid white 1px;
	background-color:$bleu;
	color: white;
}

#menu-one{
	display: none;
}

#menu-two{
	//margin-left:auto;
}

.menu-button, .reload-button{
	@include display-flex;
	@include justify-content(center);
	@include align-items(center);
	width: $height-topbar;
	height: 100%;

	color: $bleu;
	//background-color:white;
	&.selected{
		background-color: $bleu;
		color:white;
	}
	.icon{
		font-size: 32px;
	}
}
.appleios.overflowscrolling{
	.reload-button{
		display: none;
	}
}

@media screen and (max-width: 570px) {
	.split-view{
		>.page-layout{
			-webkit-transition-property: -webkit-transform;
			transition-property: transform;
			-webkit-transition-duration:300ms;
			transition-duration:300ms;
			-webkit-transition-timing-function: ease-in-out;
			transition-timing-function: ease-in-out;
		}
		>.aside-view{
			width: $largeurMenu;
			//display: none;
		}
		>.content-view{
			left:0;
			width: 100%;
		}
		&.open-menu{
			>.aside-view{
				//display: block;
			}
			>.content-view{
				-webkit-transform: translateX($largeurMenu);
				transform: translateX($largeurMenu);
			}
			#menu-one{
				background-color: $bleu;
				color:white;
			}
		}
	}
	
	#menu-one{
		@include display-flex;
	}


	.no-cssanimations, .no-csstransforms3d, .no-positionfixed{
		.split-view{
			>.aside-view{
				position:absolute;
				display: none;
			}
			>.content-view{
				//position:static;
				//@include flex(0);
				//left:;
			}
			&.open-menu{
				display:block;
				>.aside-view{
					position:static;
					display: block;
				}
				>.content-view{
					position:absolute;
					left:$largeurMenu;
					-webkit-transform: none;
					transform: none;
					bottom:0;
					overflow-y: hidden;
				}
			}
		}
		
	}

}


//LOADER
//-----------------------------
$multiplicateurSpinner:2;
#overlay.closing{
	opacity: 0;
}
#overlay.closed{
	display:none;
}
#overlay{
	@include transition(opacity 0.2s ease-in-out);
	display: block;
	opacity: 1;
	background-color: rgba(0,0,0,0.7);
	z-index: 2;
	@include display-flex;
	@include align-items(center);
	@include justify-content(center);
	position: fixed;
	bottom: 0;
}

.modal{
	
}
