/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";

@import "animation-region";


@mixin display-flex{
	@include experimental-value(display, box, -moz, -webkit, not -o, -ms, not -khtml); 
	@include experimental-value(display, flexbox, -moz, -webkit, not -o, -ms, not -khtml);
	@include experimental-value(display, flex, -moz, -webkit, not -o, -ms, not -khtml, official);
}

@mixin flex($flex: $default-box-flex){
	@include experimental(box-flex, $flex, -moz, -webkit, not -o, -ms, not -khtml);
	@include experimental(flex, $flex, -moz, -webkit, not -o, -ms, not -khtml, official);
}

@mixin order($group: $default-ordinal-flex-group) {
	@include experimental(box-ordinal-group, $group, -moz, -webkit, not -o, -ms, not -khtml);
	@include experimental(flex-order, $group, -moz, -webkit, not -o, -ms, not -khtml);
	@include experimental(order, $group, -moz, -webkit, not -o, -ms, not -khtml, official);
}

@mixin flex-direction($orientation: $default-box-orient) {
	$orientation: unquote($orientation);
	$old-orientation : $orientation;
	@if ($orientation == 'column'){ $old-orientation: vertical; }
	@include experimental(box-orient, $old-orientation, -moz, -webkit, not -o, -ms, not -khtml);
	@include experimental(flex-direction, $orientation, -moz, -webkit, not -o, -ms, not -khtml, official);
}

@mixin flex-wrap($wrap) {
	$wrap: unquote($wrap);
	@include experimental(flex-wrap, $wrap, -moz, -webkit, not -o, -ms, not -khtml, official);
}

@mixin justify-content($pack: $default-box-pack) {
	$pack: unquote($pack);
	@include experimental(box-pack, $pack, -moz, -webkit, not -o, -ms, not -khtml);
	@include experimental(flex-pack, $pack, -moz, -webkit, not -o, -ms, not -khtml);
	@include experimental(justify-content, $pack, -moz, -webkit, not -o, -ms, not -khtml, official);
}

@mixin align-items($alignment: $default-box-align) {
	$alignment: unquote($alignment);
	@include experimental(box-align, $alignment, -moz, -webkit, not -o, -ms, not -khtml);
	@include experimental(flex-align, $alignment, -moz, -webkit, not -o, -ms, not -khtml);
	@include experimental(align-items, $alignment, -moz, -webkit, not -o, -ms, not -khtml, official);
}


$bleu:#2B2B67;
$bleuClair:lavender;

$orangeFonce:#FF4F00;
$orangeClair:#FFBF00;

$default-border-radius: 6px;

$height-bottombar: 50px;
$height-topbar: 44px;


html{
	font-family: 'Helvetica Neue' ,Helvetica , sans-serif;
	background-color:black;
	-webkit-text-size-adjust:none;
}
a{text-decoration: none;color:$bleu;}
p{margin:10px;}
//#main > div *{-webkit-margin-collapse: separate;}
#header, #menu-header{
	@include display-flex;
	@include align-items(center);
	p{
		color:$bleu;
		margin:10px;
		font-weight: bold;
		font-size: 32px;
	}
}

.overflowscrolling.iphone-safari body{
	bottom: -60px;
}

//.cssanimations.csstransforms3d  {
	body{overflow: hidden !important;}
	.page-layout{
		position: absolute;
		//width:100%;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		
		overflow-x: hidden !important;
		overflow-y: auto !important;
		-webkit-overflow-scrolling: touch;

		&.with-topbar{
			top: $height-topbar;
		}
		&.with-bottombar{
			bottom: $height-bottombar;
		}
	}
//}
.no-cssanimations, .no-csstransforms3d{
	//html, body, .page-layout{height:100%;}
	&, body{height:100%;}
	.page-layout{
		position: relative;
		bottom:auto;
		padding-top: 0;
		padding-bottom: 0;
		overflow-y:visible !important;
		//min-height:100%;
		//@include display-flex;
		//@include flex-direction(column);
		& > .page-layout{
			//@include flex(1);
		}
		&.with-topbar{
			//padding-top: $height-topbar;
		}
		&.with-bottombar{
			//padding-bottom: $height-bottombar;
		}
	}
	//.split-view, .split-view > .page-layout {
		//position: absolute;
		/*top: 0;
		right: 0;
		left: 0;*/
	//	bottom:auto;
	//}
	.split-view{
		//@include flex-direction(row);
		min-height: 100%;
		@include display-flex;
		>.page-layout{
			@include display-flex;
			@include flex-direction(column);
			>.page-layout{
				@include flex(1);
			}
		}
	}
	.split-view>.aside-view{
		position:relative;
		min-height: 100%;
		//@include flex(0);
	}
	.split-view>.content-view{
		left:auto;
		@include flex(1);
	}
	.top-bar{
		position: static;
	}
	.page-layout.with-topbar{
		top:auto;
	}
}


.cssanimations.csstransforms3d  {
	#app{
		//z-index: 20;
	}
	#main{
		
		//z-index: 30;
	}
	/*#main > * > * {
		display: block;
		left: 0;
		top: 0;
		width: 100%;
		padding:0 10px;

		overflow-y: hidden;
		position: absolute;
		z-index: 0;
		min-height: 101%;

		display: -webkit-box;
		display: box;
		-webkit-box-orient: vertical;
		box-orient: vertical;
		-webkit-box-flex: 1;
		box-flex: 1;
		@include box-sizing(border-box);

		padding-bottom: 2px;
	}*/

}

/*.no-cssanimations, .no-csstransforms3d   {
	&, & #app{height:100%;}
	#app{position: relative;}
	#main{
		position: relative;
		padding-top: 50px;
		padding-bottom: 50px;
	}

}*/

$largeurMenu :320px - $height-topbar;
.split-view{
	>.aside-view{
		width: $largeurMenu;
		z-index:1;
	}
	>.content-view{
		left: $largeurMenu;
		//width: -webkit-calc(100% - #{$largeurMenu});
		//width: calc(100% - #{$largeurMenu});
		z-index:2;
	}
}

.top-bar{
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	height: $height-topbar;
}

.tab-bar{
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	height: 50px;
	@include display-flex;
	@include justify-content(center);
	>*{
		@include flex(1);

		@include display-flex;
		@include flex-direction(column);
		@include align-items(center);
		&.selected{
			background-color: $bleu;
			color:white;
		}
		>*{
			display: block;
			//@include flex(1);
			&.icon{
				font-size: 32px;
				padding: 2px 0;
				height: 32px;
				box-sizing: border-box;
			}
			&.title{
				font-size: 14px;
				padding: 2px 0;
				height: 18px;
				box-sizing: border-box;
			}
		}
	}
}


#header{
	//z-index: 50;
	background-color: #FFF;
	@include single-box-shadow(rgba(0,0,0,0.3), 0, 0, 3px, false, false);
}

#menu-header{
	//z-index: 50;
	background-color: $bleuClair;
	@include single-box-shadow(rgba(0,0,0,0.3), 0, 0, 3px, false, false);
}


#menu-main{
	background-color: white;
}

#app{
	background-color:#F4F4F4;
	@include single-box-shadow(rgba(0,0,0,0.3), 0, 0, 10px, false, false);
}

#tab-bar{
	//z-index: 40;
	background-color: #FFF;
	@include single-box-shadow(rgba(0,0,0,0.3), 0, 0, 3px, false, false);
}

/*
.cssanimations.csstransforms3d, .no-cssanimations, .no-csstransforms3d  {
	#main > .current {
		z-index: 40;
	}
	#main > :not(.current) {
		display: none;
	}
}
*/
/////////////

//#home{
	li{
		margin:10px;
		padding: 10px;
		@include border-radius;
		font-size:16px;
		background-color:$bleuClair;	
	}
//}

#menu-main li{
	background-color:$bleu;
	color: white;
}

.menu-button{
	display: none;
	width: $height-topbar;
	height: 100%;
	background-color: $bleu;
	color:white;
	
	.icon{
		font-size: 32px;
	}
}

@media screen and (max-width: 570px) {
	.split-view{
		>.page-layout{
			-webkit-transition-property: -webkit-transform;
			transition-property: transform;
			-webkit-transition-duration:300ms;
			transition-duration:300ms;
			-webkit-transition-timing-function: ease-in-out;
			transition-timing-function: ease-in-out;
		}
		>.aside-view{
			width: $largeurMenu;
			//display: none;
		}
		>.content-view{
			left:0;
			width: 100%;
		}
		&.open-menu{
			>.aside-view{
				//display: block;
			}
			>.content-view{
				-webkit-transform: translateX($largeurMenu);
				transform: translateX($largeurMenu);
			}
		}
	}

	.menu-button{
		@include display-flex;
		@include justify-content(center);
		@include align-items(center);
	}


	.no-cssanimations, .no-csstransforms3d{
		.split-view{
			>.aside-view{
				position:absolute;
				display: none;
			}
			>.content-view{
				//position:static;
				//@include flex(0);
				//left:;
			}
			&.open-menu{
				display:block;
				>.aside-view{
					position:static;
					display: block;
				}
				>.content-view{
					position:absolute;
					left:$largeurMenu;
					-webkit-transform: none;
					transform: none;
					bottom:0;
					overflow-y: hidden !important;
				}
			}
		}
		
	}

}