@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../Users/fharris/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Users/fharris/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Users/fharris/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Users/fharris/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Users/fharris/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Users/fharris/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Users/fharris/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Users/fharris/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Users/fharris/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/heart/_heart.scss */
body.page-layout, .cssanimations.csstransforms3d.positionfixed body.scrollable, .cssanimations.csstransforms3d.positionfixed body#toggle-menu, .cssanimations.csstransforms3d.positionfixed body#menu-main, body.split-view, .split-view > body.aside-view, .split-view > body.content-view, body#app, body#main, body#login {
  overflow: hidden;
}

/* line 2, ../sass/heart/_heart.scss */
.page-layout, .cssanimations.csstransforms3d.positionfixed .scrollable, .cssanimations.csstransforms3d.positionfixed #toggle-menu, .cssanimations.csstransforms3d.positionfixed #menu-main, .split-view, .split-view > .aside-view, .split-view > .content-view, #app, #main, #login {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
/* line 14, ../sass/heart/_heart.scss */
.page-layout.with-topbar, .cssanimations.csstransforms3d.positionfixed .with-topbar.scrollable, .cssanimations.csstransforms3d.positionfixed #toggle-menu, .cssanimations.csstransforms3d.positionfixed .scrollable#main, .cssanimations.csstransforms3d.positionfixed #menu-main, .with-topbar.split-view, .split-view#toggle-menu, .split-view#main, .split-view#menu-main, .split-view > .with-topbar.aside-view, .split-view > .aside-view#toggle-menu, .split-view > .aside-view#main, .split-view > .aside-view#menu-main, .split-view > .with-topbar.content-view, .split-view > .content-view#toggle-menu, .split-view > .content-view#main, .split-view > .content-view#menu-main, .page-layout#toggle-menu, .with-topbar#app, #main, .page-layout#menu-main, .with-topbar#login {
  top: 44px;
}
/* line 17, ../sass/heart/_heart.scss */
.page-layout.with-bottombar, .cssanimations.csstransforms3d.positionfixed .with-bottombar.scrollable, .cssanimations.csstransforms3d.positionfixed .with-bottombar#toggle-menu, .cssanimations.csstransforms3d.positionfixed .with-bottombar#menu-main, .with-bottombar.split-view, .split-view > .with-bottombar.aside-view, .split-view > .with-bottombar.content-view, .with-bottombar#app, .with-bottombar#main, .with-bottombar#login {
  bottom: 50px;
}

/* line 21, ../sass/heart/_heart.scss */
.topbar, .navbar, #menu-header, #header, .sub-header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 44px;
}

/* line 28, ../sass/heart/_heart.scss */
.bottombar, .tabbar, #tab-bar {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 50px;
}

/* line 38, ../sass/heart/_heart.scss */
.no-cssanimations, .no-cssanimations body, .no-csstransforms3d, .no-csstransforms3d body, .no-positionfixed, .no-positionfixed body {
  height: 100%;
}
/* line 39, ../sass/heart/_heart.scss */
.no-cssanimations .page-layout, .no-cssanimations .cssanimations.csstransforms3d.positionfixed .scrollable, .cssanimations.csstransforms3d.positionfixed .no-cssanimations .scrollable, .no-cssanimations .cssanimations.csstransforms3d.positionfixed #toggle-menu, .cssanimations.csstransforms3d.positionfixed .no-cssanimations #toggle-menu, .no-cssanimations .cssanimations.csstransforms3d.positionfixed #menu-main, .cssanimations.csstransforms3d.positionfixed .no-cssanimations #menu-main, .no-cssanimations .split-view, .no-cssanimations .split-view > .aside-view, .no-cssanimations .split-view > .content-view, .no-cssanimations #app, .no-cssanimations #main, .no-cssanimations #login, .no-csstransforms3d .page-layout, .no-csstransforms3d .cssanimations.csstransforms3d.positionfixed .scrollable, .cssanimations.csstransforms3d.positionfixed .no-csstransforms3d .scrollable, .no-csstransforms3d .cssanimations.csstransforms3d.positionfixed #toggle-menu, .cssanimations.csstransforms3d.positionfixed .no-csstransforms3d #toggle-menu, .no-csstransforms3d .cssanimations.csstransforms3d.positionfixed #menu-main, .cssanimations.csstransforms3d.positionfixed .no-csstransforms3d #menu-main, .no-csstransforms3d .split-view, .no-csstransforms3d .split-view > .aside-view, .no-csstransforms3d .split-view > .content-view, .no-csstransforms3d #app, .no-csstransforms3d #main, .no-csstransforms3d #login, .no-positionfixed .page-layout, .no-positionfixed .cssanimations.csstransforms3d.positionfixed .scrollable, .cssanimations.csstransforms3d.positionfixed .no-positionfixed .scrollable, .no-positionfixed .cssanimations.csstransforms3d.positionfixed #toggle-menu, .cssanimations.csstransforms3d.positionfixed .no-positionfixed #toggle-menu, .no-positionfixed .cssanimations.csstransforms3d.positionfixed #menu-main, .cssanimations.csstransforms3d.positionfixed .no-positionfixed #menu-main, .no-positionfixed .split-view, .no-positionfixed .split-view > .aside-view, .no-positionfixed .split-view > .content-view, .no-positionfixed #app, .no-positionfixed #main, .no-positionfixed #login {
  position: relative;
  bottom: auto;
  padding-top: 0;
  padding-bottom: 0;
  overflow-y: visible;
}
/* line 46, ../sass/heart/_heart.scss */
.no-cssanimations .topbar, .no-cssanimations .navbar, .no-cssanimations #menu-header, .no-cssanimations #header, .no-cssanimations .sub-header, .no-csstransforms3d .topbar, .no-csstransforms3d .navbar, .no-csstransforms3d #menu-header, .no-csstransforms3d #header, .no-csstransforms3d .sub-header, .no-positionfixed .topbar, .no-positionfixed .navbar, .no-positionfixed #menu-header, .no-positionfixed #header, .no-positionfixed .sub-header {
  position: static;
}
/* line 49, ../sass/heart/_heart.scss */
.no-cssanimations .page-layout.with-topbar, .no-cssanimations .cssanimations.csstransforms3d.positionfixed .with-topbar.scrollable, .cssanimations.csstransforms3d.positionfixed .no-cssanimations .with-topbar.scrollable, .no-cssanimations .cssanimations.csstransforms3d.positionfixed #toggle-menu, .cssanimations.csstransforms3d.positionfixed .no-cssanimations #toggle-menu, .no-cssanimations .cssanimations.csstransforms3d.positionfixed .scrollable#main, .cssanimations.csstransforms3d.positionfixed .no-cssanimations .scrollable#main, .no-cssanimations .cssanimations.csstransforms3d.positionfixed #menu-main, .cssanimations.csstransforms3d.positionfixed .no-cssanimations #menu-main, .no-cssanimations .with-topbar.split-view, .no-cssanimations .split-view#toggle-menu, .no-cssanimations .split-view#menu-main, .no-cssanimations .split-view > .with-topbar.aside-view, .no-cssanimations .split-view > .aside-view#toggle-menu, .no-cssanimations .split-view > .aside-view#main, .no-cssanimations .split-view > .aside-view#menu-main, .no-cssanimations .split-view > .with-topbar.content-view, .no-cssanimations .split-view > .content-view#toggle-menu, .no-cssanimations .split-view > .content-view#main, .no-cssanimations .split-view > .content-view#menu-main, .no-cssanimations .page-layout#toggle-menu, .no-cssanimations .with-topbar#app, .no-cssanimations #main, .no-cssanimations .page-layout#menu-main, .no-cssanimations .with-topbar#login, .no-csstransforms3d .page-layout.with-topbar, .no-csstransforms3d .cssanimations.csstransforms3d.positionfixed .with-topbar.scrollable, .cssanimations.csstransforms3d.positionfixed .no-csstransforms3d .with-topbar.scrollable, .no-csstransforms3d .cssanimations.csstransforms3d.positionfixed #toggle-menu, .cssanimations.csstransforms3d.positionfixed .no-csstransforms3d #toggle-menu, .no-csstransforms3d .cssanimations.csstransforms3d.positionfixed .scrollable#main, .cssanimations.csstransforms3d.positionfixed .no-csstransforms3d .scrollable#main, .no-csstransforms3d .cssanimations.csstransforms3d.positionfixed #menu-main, .cssanimations.csstransforms3d.positionfixed .no-csstransforms3d #menu-main, .no-csstransforms3d .with-topbar.split-view, .no-csstransforms3d .split-view#toggle-menu, .no-csstransforms3d .split-view#menu-main, .no-csstransforms3d .split-view > .with-topbar.aside-view, .no-csstransforms3d .split-view > .aside-view#toggle-menu, .no-csstransforms3d .split-view > .aside-view#main, .no-csstransforms3d .split-view > .aside-view#menu-main, .no-csstransforms3d .split-view > .with-topbar.content-view, .no-csstransforms3d .split-view > .content-view#toggle-menu, .no-csstransforms3d .split-view > .content-view#main, .no-csstransforms3d .split-view > .content-view#menu-main, .no-csstransforms3d .page-layout#toggle-menu, .no-csstransforms3d .with-topbar#app, .no-csstransforms3d #main, .no-csstransforms3d .page-layout#menu-main, .no-csstransforms3d .with-topbar#login, .no-positionfixed .page-layout.with-topbar, .no-positionfixed .cssanimations.csstransforms3d.positionfixed .with-topbar.scrollable, .cssanimations.csstransforms3d.positionfixed .no-positionfixed .with-topbar.scrollable, .no-positionfixed .cssanimations.csstransforms3d.positionfixed #toggle-menu, .cssanimations.csstransforms3d.positionfixed .no-positionfixed #toggle-menu, .no-positionfixed .cssanimations.csstransforms3d.positionfixed .scrollable#main, .cssanimations.csstransforms3d.positionfixed .no-positionfixed .scrollable#main, .no-positionfixed .cssanimations.csstransforms3d.positionfixed #menu-main, .cssanimations.csstransforms3d.positionfixed .no-positionfixed #menu-main, .no-positionfixed .with-topbar.split-view, .no-positionfixed .split-view#toggle-menu, .no-positionfixed .split-view#menu-main, .no-positionfixed .split-view > .with-topbar.aside-view, .no-positionfixed .split-view > .aside-view#toggle-menu, .no-positionfixed .split-view > .aside-view#main, .no-positionfixed .split-view > .aside-view#menu-main, .no-positionfixed .split-view > .with-topbar.content-view, .no-positionfixed .split-view > .content-view#toggle-menu, .no-positionfixed .split-view > .content-view#main, .no-positionfixed .split-view > .content-view#menu-main, .no-positionfixed .page-layout#toggle-menu, .no-positionfixed .with-topbar#app, .no-positionfixed #main, .no-positionfixed .page-layout#menu-main, .no-positionfixed .with-topbar#login {
  top: auto;
}

/* line 2, ../sass/heart/_scrollable.scss */
.pull-to-refresh {
  display: none;
}

@-webkit-keyframes rotationPullToRefresh {
  /* line 7, ../sass/heart/_scrollable.scss */
  from {
    -webkit-transform: rotate(-180deg);
  }

  /* line 8, ../sass/heart/_scrollable.scss */
  to {
    -webkit-transform: rotate(180deg);
  }
}

/* line 12, ../sass/heart/_scrollable.scss */
.cssanimations.csstransforms3d.positionfixed .scrollable, .cssanimations.csstransforms3d.positionfixed #toggle-menu, .cssanimations.csstransforms3d.positionfixed #menu-main {
  -webkit-transform: translate3d(0, 0, 0) rotate(0) scale(1);
}
/* line 15, ../sass/heart/_scrollable.scss */
.cssanimations.csstransforms3d.positionfixed .scrollable .wrap, .cssanimations.csstransforms3d.positionfixed #toggle-menu .wrap, .cssanimations.csstransforms3d.positionfixed #menu-main .wrap {
  overflow: auto;
  min-height: 100%;
}
/* line 23, ../sass/heart/_scrollable.scss */
.cssanimations.csstransforms3d.positionfixed.overflowscrolling.appleios .scrollable .wrap, .cssanimations.csstransforms3d.positionfixed.overflowscrolling.appleios #toggle-menu .wrap, .cssanimations.csstransforms3d.positionfixed.overflowscrolling.appleios #menu-main .wrap {
  padding-bottom: 1px;
}
/* line 26, ../sass/heart/_scrollable.scss */
.cssanimations.csstransforms3d.positionfixed.overflowscrolling.appleios .pull-to-refresh {
  display: block;
  height: 60px;
  width: 100%;
  position: absolute;
  left: 0;
  top: -60px;
  overflow: auto;
  z-index: -1;
}
/* line 40, ../sass/heart/_scrollable.scss */
.cssanimations.csstransforms3d.positionfixed.overflowscrolling.appleios .pull-to-refresh .icon {
  margin: 0 auto;
  font-size: 40px;
}
/* line 43, ../sass/heart/_scrollable.scss */
.cssanimations.csstransforms3d.positionfixed.overflowscrolling.appleios .pull-to-refresh .icon:before {
  content: "⇣";
}
/* line 47, ../sass/heart/_scrollable.scss */
.cssanimations.csstransforms3d.positionfixed.overflowscrolling.appleios .pull-to-refresh.loading {
  position: static;
}
/* line 49, ../sass/heart/_scrollable.scss */
.cssanimations.csstransforms3d.positionfixed.overflowscrolling.appleios .pull-to-refresh.loading .icon {
  -webkit-transform-origin: 50% 50%;
  -webkit-animation: rotationPullToRefresh 1s linear infinite;
}
/* line 50, ../sass/heart/_scrollable.scss */
.cssanimations.csstransforms3d.positionfixed.overflowscrolling.appleios .pull-to-refresh.loading .icon:before {
  content: "↻";
}

/* line 6, ../sass/heart/_navbar.scss */
.navbar .pull-left, #menu-header .pull-left, #header .pull-left, .sub-header .pull-left, .navbar #button-back, #menu-header #button-back, #header #button-back, .sub-header #button-back, .navbar #button-split, #menu-header #button-split, #header #button-split, .sub-header #button-split, .navbar .pull-right, #menu-header .pull-right, #header .pull-right, .sub-header .pull-right, .navbar #button-toggle, #menu-header #button-toggle, #header #button-toggle, .sub-header #button-toggle {
  position: absolute;
  top: 0;
}
/* line 10, ../sass/heart/_navbar.scss */
.navbar .pull-left, #menu-header .pull-left, #header .pull-left, .sub-header .pull-left, .navbar #button-back, #menu-header #button-back, #header #button-back, .sub-header #button-back, .navbar #button-split, #menu-header #button-split, #header #button-split, .sub-header #button-split {
  left: 0;
  z-index: 2;
}
/* line 14, ../sass/heart/_navbar.scss */
.navbar .pull-right, #menu-header .pull-right, #header .pull-right, .sub-header .pull-right, .navbar #button-toggle, #menu-header #button-toggle, #header #button-toggle, .sub-header #button-toggle {
  right: 0;
  z-index: 3;
}
/* line 18, ../sass/heart/_navbar.scss */
.navbar .title, #menu-header .title, #header .title, .sub-header .title {
  z-index: 1;
  position: absolute;
  opacity: 0;
  -webkit-transform: translate3d(0, 44px, 0);
  transform: translate3d(0, 44px, 0);
  padding: 0 54px;
  box-sizing: border-box;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 28, ../sass/heart/_navbar.scss */
.navbar .title.current, #menu-header .title.current, #header .title.current, .sub-header .title.current {
  opacity: 1;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}

/* line 1, ../sass/heart/_tabbar.scss */
.tabbar, #tab-bar {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  display: -webkit-flexbox;
  display: -moz-flexbox;
  display: -ms-flexbox;
  display: flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-box-pack: center;
  box-pack: center;
  -webkit-flex-pack: center;
  -moz-flex-pack: center;
  -ms-flex-pack: center;
  flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}
/* line 5, ../sass/heart/_tabbar.scss */
.tabbar > *, #tab-bar > * {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  display: -webkit-flexbox;
  display: -moz-flexbox;
  display: -ms-flexbox;
  display: flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-box-align: center;
  box-align: center;
  -webkit-flex-align: center;
  -moz-flex-align: center;
  -ms-flex-align: center;
  flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
/* line 11, ../sass/heart/_tabbar.scss */
.tabbar > * > *, #tab-bar > * > * {
  display: block;
}

/* line 4, ../sass/heart/_split-view.scss */
.split-view > .aside-view {
  width: 276px;
  z-index: 1;
}
/* line 9, ../sass/heart/_split-view.scss */
.split-view > .content-view {
  left: 276px;
  z-index: 2;
}
/* line 16, ../sass/heart/_split-view.scss */
.split-view .button-split, .split-view #button-split {
  display: none;
}

/* line 24, ../sass/heart/_split-view.scss */
.no-cssanimations .split-view, .no-csstransforms3d .split-view, .no-positionfixed .split-view {
  min-height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  display: -webkit-flexbox;
  display: -moz-flexbox;
  display: -ms-flexbox;
  display: flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
}
/* line 27, ../sass/heart/_split-view.scss */
.no-cssanimations .split-view > .aside-view, .no-cssanimations .split-view > .content-view, .no-csstransforms3d .split-view > .aside-view, .no-csstransforms3d .split-view > .content-view, .no-positionfixed .split-view > .aside-view, .no-positionfixed .split-view > .content-view {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  display: -webkit-flexbox;
  display: -moz-flexbox;
  display: -ms-flexbox;
  display: flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  /*>.page-layout{
  	@include flex(1);
  }*/
}
/* line 35, ../sass/heart/_split-view.scss */
.no-cssanimations .split-view > .aside-view, .no-csstransforms3d .split-view > .aside-view, .no-positionfixed .split-view > .aside-view {
  position: relative;
  min-height: 100%;
}
/* line 39, ../sass/heart/_split-view.scss */
.no-cssanimations .split-view > .content-view, .no-csstransforms3d .split-view > .content-view, .no-positionfixed .split-view > .content-view {
  left: auto;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

@media screen and (max-width: 570px) {
  /* line 47, ../sass/heart/_split-view.scss */
  .split-view {
    -webkit-perspective: 1000px;
    perspective: 1000px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  /* line 53, ../sass/heart/_split-view.scss */
  .split-view > .aside-view, .split-view > .content-view {
    -webkit-transition-property: -webkit-transform;
    transition-property: transform;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-backface-visibility: hidden;
  }
  /* line 63, ../sass/heart/_split-view.scss */
  .split-view > .aside-view {
    width: 276px;
    -webkit-transform: translateZ(-100px) rotateY(25deg);
    transform: translateZ(-100px) rotateY(25deg);
  }
  /* line 70, ../sass/heart/_split-view.scss */
  .split-view > .content-view {
    left: 0;
    width: 100%;
  }
  /* line 75, ../sass/heart/_split-view.scss */
  .split-view.open-menu > .aside-view {
    -webkit-transform: translateZ(0) rotateY(0deg);
    transform: translateZ(0) rotateY(0deg);
  }
  /* line 80, ../sass/heart/_split-view.scss */
  .split-view.open-menu > .content-view {
    -webkit-transform: translateX(276px);
    transform: translateX(276px);
  }
  /* line 86, ../sass/heart/_split-view.scss */
  .split-view .button-split, .split-view #button-split {
    display: block;
  }

  /* line 95, ../sass/heart/_split-view.scss */
  .no-cssanimations .split-view > .aside-view, .no-csstransforms3d .split-view > .aside-view, .no-positionfixed .split-view > .aside-view {
    position: absolute;
    display: none;
  }
  /* line 104, ../sass/heart/_split-view.scss */
  .no-cssanimations .split-view.open-menu, .no-csstransforms3d .split-view.open-menu, .no-positionfixed .split-view.open-menu {
    display: block;
  }
  /* line 106, ../sass/heart/_split-view.scss */
  .no-cssanimations .split-view.open-menu > .aside-view, .no-csstransforms3d .split-view.open-menu > .aside-view, .no-positionfixed .split-view.open-menu > .aside-view {
    position: static;
    display: block;
  }
  /* line 110, ../sass/heart/_split-view.scss */
  .no-cssanimations .split-view.open-menu > .content-view, .no-csstransforms3d .split-view.open-menu > .content-view, .no-positionfixed .split-view.open-menu > .content-view {
    position: absolute;
    left: 276px;
    -webkit-transform: none;
    transform: none;
    bottom: 0;
    overflow-y: hidden;
  }
}
/* line 1, ../sass/heart/_animation-region.scss */
.animation-region > :not(.current), #main > :not(.current) {
  display: none;
}

/* line 7, ../sass/heart/_animation-region.scss */
.cssanimations.csstransforms3d.positionfixed .animation-region, .cssanimations.csstransforms3d.positionfixed #main {
  -webkit-perspective: 1000px;
  perspective: 1000px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  overflow: hidden;
}
/* line 15, ../sass/heart/_animation-region.scss */
.cssanimations.csstransforms3d.positionfixed .animation-region > *, .cssanimations.csstransforms3d.positionfixed #main > * {
  width: 100%;
  position: absolute;
  display: block;
  -webkit-backface-visibility: hidden;
}
/* line 23, ../sass/heart/_animation-region.scss */
.cssanimations.csstransforms3d.positionfixed .animation-region > :not(.current), .cssanimations.csstransforms3d.positionfixed #main > :not(.current) {
  display: none;
}
/* line 27, ../sass/heart/_animation-region.scss */
.cssanimations.csstransforms3d.positionfixed .in, .cssanimations.csstransforms3d.positionfixed .out {
  -webkit-animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}

/***************/
/* line 1, ../sass/heart/animation/_slide-left.scss */
.slideleft.in, .slideleft.out {
  -webkit-animation-duration: 300ms;
  animation-duration: 300ms;
}

/* line 6, ../sass/heart/animation/_slide-left.scss */
.slideleft.in {
  -webkit-animation-name: slideLeftIn;
  animation-name: slideLeftIn;
}

/* line 11, ../sass/heart/animation/_slide-left.scss */
.slideleft.out {
  -webkit-animation-name: slideLeftOut;
  animation-name: slideLeftOut;
}

@-webkit-keyframes slideLeftIn {
  /* line 17, ../sass/heart/animation/_slide-left.scss */
  0% {
    -webkit-transform: translate3d(100%, 0, 0);
  }

  /* line 20, ../sass/heart/animation/_slide-left.scss */
  100% {
    -webkit-transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes slideLeftOut {
  /* line 26, ../sass/heart/animation/_slide-left.scss */
  0% {
    -webkit-transform: translate3d(0, 0, 0);
  }

  /* line 29, ../sass/heart/animation/_slide-left.scss */
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
  }
}

@keyframes slideLeftIn {
  /* line 35, ../sass/heart/animation/_slide-left.scss */
  0% {
    transform: translate3d(100%, 0, 0);
  }

  /* line 38, ../sass/heart/animation/_slide-left.scss */
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideLeftOut {
  /* line 44, ../sass/heart/animation/_slide-left.scss */
  0% {
    transform: translate3d(0, 0, 0);
  }

  /* line 47, ../sass/heart/animation/_slide-left.scss */
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}

/* line 1, ../sass/heart/animation/_slide-right.scss */
.slideright.in, .slideright.out {
  -webkit-animation-duration: 300ms;
  animation-duration: 300ms;
}

/* line 6, ../sass/heart/animation/_slide-right.scss */
.slideright.in {
  -webkit-animation-name: slideRightIn;
  animation-name: slideRightIn;
}

/* line 11, ../sass/heart/animation/_slide-right.scss */
.slideright.out {
  -webkit-animation-name: slideRightOut;
  animation-name: slideRightOut;
}

@-webkit-keyframes slideRightIn {
  /* line 17, ../sass/heart/animation/_slide-right.scss */
  0% {
    -webkit-transform: translate3d(-100%, 0, 0);
  }

  /* line 20, ../sass/heart/animation/_slide-right.scss */
  100% {
    -webkit-transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes slideRightOut {
  /* line 26, ../sass/heart/animation/_slide-right.scss */
  0% {
    -webkit-transform: translate3d(0, 0, 0);
  }

  /* line 29, ../sass/heart/animation/_slide-right.scss */
  100% {
    -webkit-transform: translate3d(100%, 0, 0);
  }
}

@keyframes slideRightIn {
  /* line 35, ../sass/heart/animation/_slide-right.scss */
  0% {
    transform: translate3d(-100%, 0, 0);
  }

  /* line 38, ../sass/heart/animation/_slide-right.scss */
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideRightOut {
  /* line 44, ../sass/heart/animation/_slide-right.scss */
  0% {
    transform: translate3d(0, 0, 0);
  }

  /* line 47, ../sass/heart/animation/_slide-right.scss */
  100% {
    transform: translate3d(100%, 0, 0);
  }
}

/* line 1, ../sass/heart/animation/_dissolve.scss */
.dissolve.in, .dissolve.out {
  -webkit-animation-duration: 200ms;
  animation-duration: 200ms;
}

/* line 6, ../sass/heart/animation/_dissolve.scss */
.dissolve.in {
  -webkit-animation-name: dissolveIn;
  animation-name: dissolveIn;
}

/* line 11, ../sass/heart/animation/_dissolve.scss */
.dissolve.out {
  -webkit-animation-name: dissolveOut;
  animation-name: dissolveOut;
}

@-webkit-keyframes dissolveIn {
  /* line 17, ../sass/heart/animation/_dissolve.scss */
  0% {
    opacity: 0;
  }

  /* line 20, ../sass/heart/animation/_dissolve.scss */
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes dissolveOut {
  /* line 26, ../sass/heart/animation/_dissolve.scss */
  0% {
    opacity: 1;
  }

  /* line 29, ../sass/heart/animation/_dissolve.scss */
  100% {
    opacity: 0;
  }
}

@keyframes dissolveIn {
  /* line 35, ../sass/heart/animation/_dissolve.scss */
  0% {
    opacity: 0;
  }

  /* line 38, ../sass/heart/animation/_dissolve.scss */
  100% {
    opacity: 1;
  }
}

@keyframes dissolveOut {
  /* line 44, ../sass/heart/animation/_dissolve.scss */
  0% {
    opacity: 1;
  }

  /* line 47, ../sass/heart/animation/_dissolve.scss */
  100% {
    opacity: 0;
  }
}

/*.in {
	z-index: 50;
}
.in:after {
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
.out {
	z-index: 0 !important;
}*/
/* line 1, ../sass/_toggle-menu.scss */
#toggle-menu {
  z-index: 2;
  background-color: rgba(0, 0, 0, 0);
  -webkit-transition: background-color 100ms ease-in-out;
  -webkit-transition-delay: 200ms;
  -moz-transition: background-color 100ms ease-in-out 200ms;
  -o-transition: background-color 100ms ease-in-out 200ms;
  transition: background-color 100ms ease-in-out 200ms;
  display: none;
}
/* line 12, ../sass/_toggle-menu.scss */
#toggle-menu .wrap {
  -webkit-perspective: 1000px;
  perspective: 1000px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
/* line 20, ../sass/_toggle-menu.scss */
#toggle-menu ul {
  background-color: #2b2b67;
  color: #2b2b67;
  -webkit-transition: -webkit-transform 300ms ease-in-out, opacity 250ms ease-in-out;
  -webkit-transition-delay: 0s, 50ms;
  -moz-transition: -moz-transform 300ms ease-in-out, opacity 250ms ease-in-out 50ms;
  -o-transition: -o-transform 300ms ease-in-out, opacity 250ms ease-in-out 50ms;
  transition: transform 300ms ease-in-out, opacity 250ms ease-in-out 50ms;
  -webkit-transform: translateY(-100%) translateZ(-200px) rotateX(45deg);
  -moz-transform: translateY(-100%) translateZ(-200px) rotateX(45deg);
  -ms-transform: translateY(-100%) translateZ(-200px) rotateX(45deg);
  -o-transform: translateY(-100%) translateZ(-200px) rotateX(45deg);
  transform: translateY(-100%) translateZ(-200px) rotateX(45deg);
  opacity: 0;
}
/* line 27, ../sass/_toggle-menu.scss */
#toggle-menu li {
  background-color: lavender;
}
/* line 30, ../sass/_toggle-menu.scss */
#toggle-menu a.selected li {
  background-color: #ffbf00;
}
/* line 34, ../sass/_toggle-menu.scss */
.open-submenu #toggle-menu {
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition-delay: 0ms;
  -moz-transition-delay: 0ms;
  -o-transition-delay: 0ms;
  transition-delay: 0ms;
}
/* line 37, ../sass/_toggle-menu.scss */
.open-submenu #toggle-menu ul {
  -webkit-transform: translateY(0) translateZ(0) rotateX(0deg);
  -moz-transform: translateY(0) translateZ(0) rotateX(0deg);
  -ms-transform: translateY(0) translateZ(0) rotateX(0deg);
  -o-transform: translateY(0) translateZ(0) rotateX(0deg);
  transform: translateY(0) translateZ(0) rotateX(0deg);
  opacity: 1;
}
/* line 42, ../sass/_toggle-menu.scss */
#toggle-menu.displayed {
  display: block;
}

/* line 47, ../sass/_toggle-menu.scss */
.no-cssanimations #toggle-menu, .no-csstransforms3d #toggle-menu, .no-positionfixed #toggle-menu {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
  display: none;
}
/* line 49, ../sass/_toggle-menu.scss */
.no-cssanimations #toggle-menu ul, .no-csstransforms3d #toggle-menu ul, .no-positionfixed #toggle-menu ul {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}
/* line 55, ../sass/_toggle-menu.scss */
.no-cssanimations .open-submenu #toggle-menu, .no-csstransforms3d .open-submenu #toggle-menu, .no-positionfixed .open-submenu #toggle-menu {
  display: block;
}

/* line 26, ../sass/screen.scss */
html {
  font-family: 'Helvetica Neue' ,Helvetica , sans-serif;
  background-color: black;
  -webkit-text-size-adjust: none;
}

/* line 31, ../sass/screen.scss */
a {
  text-decoration: none;
  color: #2b2b67;
}

/* line 32, ../sass/screen.scss */
p {
  margin: 10px;
}

/* line 38, ../sass/screen.scss */
#main {
  z-index: 1;
}

/* line 45, ../sass/screen.scss */
#header {
  z-index: 3;
  overflow: hidden;
  background-color: #FFF;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}
/* line 53, ../sass/screen.scss */
#header.back #button-back {
  opacity: 1;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}
/* line 58, ../sass/screen.scss */
#header.back #button-split {
  opacity: 0;
  -webkit-transform: translate3d(0, -44px, 0);
  transform: translate3d(0, -44px, 0);
}

/* line 65, ../sass/screen.scss */
#button-back {
  opacity: 0;
  -webkit-transform: translate3d(0, 44px, 0);
  transform: translate3d(0, 44px, 0);
}
/* line 69, ../sass/screen.scss */
#button-back .icon {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

/* line 79, ../sass/screen.scss */
#button-split {
  opacity: 1;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}

/* line 92, ../sass/screen.scss */
#menu-header {
  z-index: 2;
  background-color: lavender;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

/* line 98, ../sass/screen.scss */
#menu-main {
  background-color: white;
}

/* line 106, ../sass/screen.scss */
#menu-header p, #header p, .sub-header p {
  color: #2b2b67;
  margin: 0;
  font-weight: bold;
  font-size: 32px;
  text-align: center;
  line-height: 44px;
  width: 100%;
}

/*.overflowscrolling.appleios.safari body{
	bottom: -60px;
}*/
/* line 120, ../sass/screen.scss */
.pull-to-refresh {
  color: white;
  background-color: grey;
}

/*.appleios .sub-header{
	display: none;
}
.sub-header{
	height: 32px;
	p{
		color:$bleuClair;
		margin:0 10px;
		font-weight: bold;
		font-size: 22px;
		text-shadow: 1px 1px 3px #333;
	}
}*/
/* line 139, ../sass/screen.scss */
#content {
  background-color: #F4F4F4;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* line 144, ../sass/screen.scss */
#tab-bar {
  background-color: #FFF;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}
/* line 150, ../sass/screen.scss */
#tab-bar > *.selected {
  background-color: #2b2b67;
  color: white;
}
/* line 155, ../sass/screen.scss */
#tab-bar > * > *.icon {
  font-size: 32px;
  padding: 2px 0;
  height: 32px;
  box-sizing: border-box;
}
/* line 161, ../sass/screen.scss */
#tab-bar > * > *.title {
  font-size: 14px;
  padding: 2px 0;
  height: 18px;
  box-sizing: border-box;
}

/*.curtain:before{
	opacity:1;
	background-color: rgba(0,0,0,0.5);
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	content: "";
	z-index:10;
}*/
/* line 186, ../sass/screen.scss */
ul {
  overflow: auto;
}

/* line 189, ../sass/screen.scss */
li {
  margin: 10px;
  padding: 10px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  font-size: 16px;
  background-color: lavender;
}

/* line 198, ../sass/screen.scss */
#menu-main li {
  border: solid lavender 1px;
  background-color: white;
  color: #2b2b67;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -o-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}
/* line 202, ../sass/screen.scss */
#menu-main li .lang {
  float: right;
}
/* line 206, ../sass/screen.scss */
#menu-main li.selected {
  background-color: lavender;
  border: solid #2b2b67 1px;
}

/* line 213, ../sass/screen.scss */
.menu-button, #button-back, #button-split, #button-toggle {
  width: 44px;
  height: 100%;
  text-align: center;
  line-height: 44px;
  color: #2b2b67;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 225, ../sass/screen.scss */
.menu-button.selected, .selected#button-back, .selected#button-split, .selected#button-toggle {
  background-color: #2b2b67;
  color: white;
}
/* line 229, ../sass/screen.scss */
.menu-button .icon, #button-back .icon, #button-split .icon, #button-toggle .icon {
  display: block;
  font-size: 32px;
}

/*.appleios.overflowscrolling{
	.reload-button{
		display: none;
	}
}*/
/* line 241, ../sass/screen.scss */
.split-view.open-menu #button-split {
  background-color: #2b2b67;
  color: white;
}

/* line 247, ../sass/screen.scss */
#login {
  background-color: #eee;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  display: -webkit-flexbox;
  display: -moz-flexbox;
  display: -ms-flexbox;
  display: flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-box-align: center;
  box-align: center;
  -webkit-flex-align: center;
  -moz-flex-align: center;
  -ms-flex-align: center;
  flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-box-pack: center;
  box-pack: center;
  -webkit-flex-pack: center;
  -moz-flex-pack: center;
  -ms-flex-pack: center;
  flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}
/* line 253, ../sass/screen.scss */
#login button {
  -webkit-appearance: none;
  border: none;
  border-radius: 4px;
  background-color: red;
  color: white;
  font-size: 14px;
  padding: 6px 10px;
  cursor: pointer;
}

/* line 266, ../sass/screen.scss */
#people li {
  overflow: hidden;
  padding: 0;
  height: 50px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  display: -webkit-flexbox;
  display: -moz-flexbox;
  display: -ms-flexbox;
  display: flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-box-align: center;
  box-align: center;
  -webkit-flex-align: center;
  -moz-flex-align: center;
  -ms-flex-align: center;
  flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
/* line 273, ../sass/screen.scss */
#people li > * {
  display: block;
}
/* line 276, ../sass/screen.scss */
#people li span {
  margin: 0 10px;
}
/* line 279, ../sass/screen.scss */
#people li img {
  border-radius: 6px;
}
/* line 282, ../sass/screen.scss */
#people li .title {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

/* line 289, ../sass/screen.scss */
.person .infos {
  margin: 10px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  display: -webkit-flexbox;
  display: -moz-flexbox;
  display: -ms-flexbox;
  display: flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-box-align: center;
  box-align: center;
  -webkit-flex-align: center;
  -moz-flex-align: center;
  -ms-flex-align: center;
  flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -ms-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
/* line 295, ../sass/screen.scss */
.person .infos .infos-primary {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
/* line 298, ../sass/screen.scss */
.person .infos img {
  margin-right: 10px;
  border-radius: 6px;
}
/* line 302, ../sass/screen.scss */
.person .infos h1 {
  font-size: 24px;
  font-weight: bold;
  margin: 10px 0;
}
/* line 307, ../sass/screen.scss */
.person .infos h2 {
  font-size: 18px;
  margin: 10px 0;
}
/* line 312, ../sass/screen.scss */
.person .about {
  margin: 10px;
}

/* line 321, ../sass/screen.scss */
#overlay.closing {
  opacity: 0;
}

/* line 324, ../sass/screen.scss */
#overlay.closed {
  display: none;
}

/* line 327, ../sass/screen.scss */
#overlay {
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  display: block;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  display: -webkit-flexbox;
  display: -moz-flexbox;
  display: -ms-flexbox;
  display: flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-box-align: center;
  box-align: center;
  -webkit-flex-align: center;
  -moz-flex-align: center;
  -ms-flex-align: center;
  flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-box-pack: center;
  box-pack: center;
  -webkit-flex-pack: center;
  -moz-flex-pack: center;
  -ms-flex-pack: center;
  flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
}
