<!--<div class="scrollable">-->

	<!--<div class="pull-to-refresh">
		<p class="icon"></p>
		<p class="title-pull">Tirer pour actualiser</p>
		<p class="title-release">Relâcher pour actualiser</p>
	</div>-->

	<div class="wrap">
		<div class="infos">
			<img src="<%= image['url-100'] %>" />
			<div class="infos-primary">
				<h1><%= displayName %></h1>
				<h2><%= tagline %></h2>
			</div>
		</div>
		<p><%= gender %></p>
		<p><%= birthday %></p>
		<div class="about"><%= aboutMe %></div>
	</div>

<!--</div>-->