<div id="menu" class="aside-view">

  <div id="menu-header">
    <p>Heart.css</p>
  </div>

  <div id="menu-main">
  </div>

</div>

<div id="content" class="content-view">

  <!-- Header container. -->
  <div id="header">
      <a id="button-split" href="javascript://"><span class="icon">❈</span></a>
      <a id="button-back" href="javascript://"><span class="icon">➺</span></a>
      <p class="title current"></p>
      <p class="title"></p>
      <a id="button-toggle" href="javascript://"><span class="icon">❃</span></a>
  </div>

  <!-- Menu container. -->
  <div id="toggle-menu"></div>

  <!-- Main container. -->
  <div role="main" id="main"></div>

  <!--<div id="tab-bar" class="tab-bar">
    <a href="" data-animation="slideright"><span class="icon">✤</span><span class="title">Home</span></a>
    <a href="post" data-animation="slideleft"><span class="icon">❉</span><span class="title">Post</span></a>
    <a href="post" class="selected" data-animation="slideleft"><span class="icon">✾</span><span class="title">Tada</span></a>
  </div>-->

</div>