<div id="menu" class="page-layout">

  <div id="menu-header" class="top-bar">
    <p>Menu</p>
  </div>

  <div id="menu-main" class="page-layout with-topbar">
  </div>

</div>

<div id="app" class="page-layout">

  <!-- Header container. -->
  <div id="header" class="top-bar">
    <a class="menu-button" href="javascript://"><span class="icon">❈</span></a>
    <p>Content</p>
  </div>

  <!-- Main container. -->
  <div role="main" id="main" class="page-layout with-topbar animation-region">
  </div>

  <!--<div id="tab-bar" class="tab-bar">
    <a href="" data-animation="slideright"><span class="icon">✤</span><span class="title">Home</span></a>
    <a href="post" data-animation="slideleft"><span class="icon">❉</span><span class="title">Post</span></a>
    <a href="post" class="selected" data-animation="slideleft"><span class="icon">✾</span><span class="title">Tada</span></a>
  </div>-->

</div>