<div id="menu" class="aside-view page-layout">

  <div id="menu-header" class="top-bar">
    <p>Heart.css</p>
  </div>

  <div id="menu-main" class="scrollable with-topbar">
  </div>

</div>

<div id="content" class="content-view page-layout">

  <!-- Header container. -->
  <div id="header" class="top-bar">
      <a id="menu-one" class="menu-button" href="javascript://"><span class="icon">❈</span></a>
      <a id="menu-back" class="menu-button" href="javascript://"><span class="icon">➺</span></a>
      <p class="title"></p>
      <a id="menu-two" class="menu-button" href="javascript://"><span class="icon">❃</span></a>
  </div>

  <!-- Menu container. -->
  <div id="sub-menu" class="scrollable with-topbar">
  </div>

  <!-- Main container. -->
  <div role="main" id="main" class="page-layout with-topbar animation-region"></div>

  <!--<div id="tab-bar" class="tab-bar">
    <a href="" data-animation="slideright"><span class="icon">✤</span><span class="title">Home</span></a>
    <a href="post" data-animation="slideleft"><span class="icon">❉</span><span class="title">Post</span></a>
    <a href="post" class="selected" data-animation="slideleft"><span class="icon">✾</span><span class="title">Tada</span></a>
  </div>-->

</div>